<section>
    <p>
      W3C is proud to be an open and inclusive organization, focused on
      productive discussions and actions. Our <a href="https://www.w3.org/policies/code-of-conduct/">Code of Ethics and Professional
      Conduct</a> ensures that all voices can be heard.
    </p>
    <p>
      Questions? Contact Dominique Hazael-Massieux &lt;<a href="mailto:dom@w3.org">dom@w3.org</a>&gt;.
    </p>
    <p>
      Suggestions for improving this workshop page, such as fixing typos or
      adding specific topics, can be made by opening a <a href="https://github.com/w3c/machine-learning-workshop/">pull request on
      GitHub</a>, or by emailing Dominique Hazael-Massieux &lt;<a href="mailto:dom@w3.org">dom@w3.org</a>&gt;.
    </p>
</section>